#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 25%;
  transform: translateY(-30%);
  width: 90%;
  margin: auto;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#container ion-item {
  --border-color: #aec4c7;
  --border-width: 5px;
  --border-radius: 0px;
  --border-style: solid;
  margin-top: 3vh;
}

#container ion-list-header {
  border-bottom: 5px #aec4c7 dashed;
}

#container ion-list {
  border: 8px #aec4c7 ridge;
  border-radius: 5px;
}

#container ion-card {
  width: 30%;
  margin: auto;
  margin-top: 3vh;
}

#container ion-button {
  padding: 5px;
}

#container ul {
  text-align: left;
}

#container ion-list {
  margin-top: 3vh;
}

#container .rischio {
  width: 50%;
  text-align: center;
}

#container a {
  color: black;
}

#container ion-img {
  max-width: 12vw;
  max-height: 12vw;
  margin:auto;
}

ion-spinner {

  display: block;
  margin: auto;
  margin-top: 30vh;
}

#mobile {

  ion-list, ion-item {

    --ion-background-color: rgba($color: #ffffff, $alpha: 0);
    background: rgba(255,255,255,0);
  }
}
