<ion-content class="background-img" [fullscreen]="true">

  <div id="container">
    <div class="title">DiagnosEasy</div>
    <form
      [formGroup]="cfForm"
      (ngSubmit)="onSubmit()"
      action="/results"
      class="ion-padding">
      <ion-card class="transparent-bg ion-padding" >
        <ion-label position="floating">Codice Fiscale: </ion-label>
        <ion-input id="cf" formControlName="cf"></ion-input>
      </ion-card>
      <ion-button type="submit" size="large" strong="true" class="ion-padding">Cerca</ion-button>
    </form>
  </div>
</ion-content>
