<ion-content class="background-img" [fullscreen]="true">

  <div id="container">
    <div class="title">DiagnosEasy</div>
    <form
      [formGroup]="cfForm"
      (ngSubmit)="onSubmit()"
      class="ion-padding">
      <ion-card class="transparent-bg ion-padding" >
        <ion-label position="floating">Fiscal code: </ion-label>
        <ion-input id="cf" formControlName="cf"></ion-input>
      </ion-card>
      <ion-button type="submit" size="large" strong="true" class="ion-padding">Search</ion-button>
    </form>
  </div>

  <div id="mobile" *ngIf="platform.is('mobile')">

    <ion-card class="acrylic">
      <ion-card-header>
        <ion-card-title>DiagnosEasy</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card class="acrylic">
      <form
        [formGroup]="cfForm"
        (ngSubmit)="onSubmit()"
        class="ion-padding">
        <ion-item class="ion-padding">
          <ion-label position="floating">Fiscal code:</ion-label>
          <ion-input id="cf" formControlName="cf"></ion-input>
        </ion-item>
        <ion-button expand="block" type="submit" strong="true" class="ion-padding" color="secondary">Search</ion-button>
      </form>
    </ion-card>

  </div>

</ion-content>
