<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>DiagnosEasy</ion-card-title>
    </ion-card-header>
  </ion-card>

  <div id="container">
    <form class="ion-padding">
      <ion-item lines="none" class="ion-padding">
        <ion-label position="floating">Codice Fiscale: </ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-button type="submit" size="large" strong="true" class="ion-padding">Cerca</ion-button>
    </form>
  </div>
</ion-content>